

<!DOCTYPE html>
<html lang="en">
head
    title Register

body
    <h1>Sign Up</h1>
form(action="/reg" method="post")
    label(for="name") Name
    input(type="text")
    label(for="book") Book
    input(type="text")
    label(for="pwd1") Password
    input(type="password")
    button(type="submit") Submit

    


