doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // Site Title
    title gospel hospital and clinics
    // Meta Description Tag
    meta(name="Description" content="Klinik is a HTML5 & CSS3 responsive template")
    // Favicon Icon
    link(rel="icon" type="image/x-icon" href="images/favicon.png")
    // Font Awesoeme Stylesheet CSS
    link(rel="stylesheet" href="font-awesome/css/font-awesome.min.css")
    // Google web Font
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500")
    // Bootstrap core CSS
    link(rel="stylesheet" href="css/bootstrap.min.css")
    // Material Design Lite Stylesheet CSS
    link(rel="stylesheet" href="css/material.min.css")
    // Material Design Select Field Stylesheet CSS
    link(rel="stylesheet" href="css/mdl-selectfield.min.css")
    // Owl Carousel Stylesheet CSS
    link(rel="stylesheet" href="css/owl.carousel.min.css")
    // Animate Stylesheet CSS
    link(rel="stylesheet" href="css/animate.min.css")
    // Magnific Popup Stylesheet CSS
    link(rel="stylesheet" href="css/magnific-popup.css")
    // Flex Slider Stylesheet CSS
    link(rel="stylesheet" href="css/flexslider.css")
    // Custom Main Stylesheet CSS
    link(rel="stylesheet" href="css/style.css")
  body
    // Start Header
    header#header
      // Start Header Top Section
      #hdr-top-wrapper
        .layer-stretch.hdr-top
          .hdr-top-block.hidden-xs
            #hdr-social
              ul.social-list.social-list-sm
                li
                  a.width-auto.font-13 Follow Us : 
                li
                  a#hdr-facebook(href="#" target="_blank")
                    i.fa.fa-facebook
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-facebook") Facebook
                li
                  a#hdr-twitter(href="#" target="_blank")
                    i.fa.fa-twitter
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-twitter") Twitter
                li
                  a#hdr-google(href="#" target="_blank")
                    i.fa.fa-google
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-google") Google
                li
                  a#hdr-instagram(href="#" target="_blank")
                    i.fa.fa-instagram
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-instagram") Instagram
                li
                  a#hdr-youtube(href="#" target="_blank")
                    i.fa.fa-youtube
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-youtube") Youtube
                li
                  a#hdr-linkedin(href="#" target="_blank")
                    i.fa.fa-linkedin
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-linkedin") Linkedin
                li
                  a#hdr-flickr(href="#" target="_blank")
                    i.fa.fa-flickr
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-flickr") Flickr
                li
                  a#hdr-rss(href="#" target="_blank")
                    i.fa.fa-rss
                  span.mdl-tooltip.mdl-tooltip--bottom(data-mdl-for="hdr-rss") Rss
          .hdr-top-line.hidden-xs
          .hdr-top-block.hdr-number
            .font-13
              i.fa.fa-mobile.font-20.tbl-cell  
              span.hidden-xs.tbl-cell  Emergency Number : 
              span.tbl-cell (+234)8130299583
          .hdr-top-line
          .hdr-top-block
            .theme-dropdown
              a#profile-menu.mdl-button.mdl-js-button.mdl-js-ripple-effect.font-13
                i.fa.fa-user-o.color-black
                |  My Account
              ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect.metarial-menu(data-mdl-for="profile-menu")
                li.mdl-menu__item
                  a(href="login.html")
                    i.fa.fa-sign-in
                    | Login
                li.mdl-menu__item
                  a(data-toggle="modal" data-target="#loginpopup")
                    i.fa.fa-sign-in
                    | Login Popup
                li.mdl-menu__item
                  a(href="register.html")
                    i.fa.fa-user-o
                    | Register
                li.mdl-menu__item
                  a(data-toggle="modal" data-target="#registerpopup")
                    i.fa.fa-user-o
                    | Register Popup
                li.mdl-menu__item
                  a(href="forgot.html")
                    i.fa.fa-key
                    | Forgot Password
                li.mdl-menu__item
                  a(href="about.html")
                    i.fa.fa-info
                    | Help
      // End Header Top Section
      // Start Main Header Section
      // End Main Header Section
    // End Header
    // Start Page Title Section
    .page-ttl
      .layer-stretch
        .page-ttl-container
          h1 Services
          p
            a(href="#") Home
            |  → 
            span Services
    // End Page Title Section
    // Start Service List Section
    #service-page.layer-stretch
      .layer-wrapper.text-center
        .row
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-1.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-child
                h4
                  a(href="#") Childbirth Center
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-2.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-heartbeat
                h4
                  a(href="#") Cardiology
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-3.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-stethoscope
                h4
                  a(href="#") Cardiovascular centre
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-4.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-wheelchair-alt
                h4
                  a(href="#") Skin Care
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-5.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-flask
                h4
                  a(href="#") Laboratory Services
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-6.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-certificate
                h4
                  a(href="#") Mammography
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-7.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-h-square
                h4
                  a(href="#") Dermatologist
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-8.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-glass
                h4
                  a(href="#") Anesthesiology
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
          .col-md-6.col-lg-4
            .theme-block.theme-block-hover
              .theme-block-picture
                img(src="uploads/service-9.jpg" alt="")
              .theme-block-data.service-block-data
                .service-icon
                  i.fa.fa-stethoscope
                h4
                  a(href="#") Paediatrics
                p.paragraph-small.paragraph-black.service-description
                  span
                    | Nobis civibus luptatum et mea, id consulatu repu diare sed, has zril diceret nonumes ei. Eum doctu sal iquip in, noster tacimates mei cu, his inmucius per sius. At nec epicurei delectus omittantu. Eose aoffi ciis sensibus voluptatibus, vel te nost rumass entior, no sed latine vidisse. Legere consequuntur nec an, natum efficien
                  a(href="#") (Read More)
        ul.theme-pagination
          li
            a.active(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
          li
            a(href="#") 4
          li
            a(href="#") 5
          li
            a(href="#") ...
          li
            a(href="#") 10
    // End Service List Section
    // Start Feature List Section
    .parallax-background.parallax-background-1
      .layer-stretch
        .layer-wrapper.layer-bottom-10.text-center
          .layer-ttl.layer-ttl-white
            h3 Why Choose Us
          .layer-container
            .feature-block
              .feature-icon
                i.fa.fa-phone
              span Emergency Departments
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
            .feature-block
              .feature-icon
                i.fa.fa-calendar
              span 24 hour Service
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
            .feature-block
              .feature-icon
                i.fa.fa-cloud
              span Advanced Technology
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
            .feature-block
              .feature-icon
                i.fa.fa-ambulance
              span Ambulance
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
            .feature-block
              .feature-icon
                i.fa.fa-stethoscope
              span Primary health care
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
            .feature-block
              .feature-icon
                i.fa.fa-shopping-bag
              span Pharmacies and drug stores
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
            .feature-block
              .feature-icon
                i.fa.fa-hospital-o
              span Laboratory and research
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
            .feature-block
              .feature-icon
                i.fa.fa-user-md
              span Medical nursing home
              p.paragraph-small.paragraph-white
                | Mel in hinc veri admodum, copiosae epicurei mea ei. Cum at nisl soleat. Eam insolens referrentur efficiantur an. Nibh deleniti ad vix, quodsi aliquam legendos pri in.
    // End Feature List Section
    // Start Emergency Section
    #emergency
      .layer-stretch
        .layer-wrapper
          .layer-ttl
            h3 On Emergency
          .layer-container
            .paragraph-medium.paragraph-black
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.
            .emergency-number Call : 0000000000
    // End Emergency Section
    // Start Make an Appointment Modal
    #appointment.modal.fade(role="dialog")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header.text-center
            h5.modal-title Make An Appointment
            button.close(type="button" data-dismiss="modal") ×
          .modal-body
            .appointment-error
            .row
              .col-md-6
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
                  i.fa.fa-user-o
                  input#appointment-name.mdl-textfield__input(type="text" pattern="[A-Z,a-z, ]*")
                  label.mdl-textfield__label(for="appointment-name") Name
                  span.mdl-textfield__error Please Enter Valid Name!
              .col-md-6
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
                  i.fa.fa-envelope-o
                  input#appointment-email.mdl-textfield__input(type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
                  label.mdl-textfield__label(for="appointment-email") Email
                  span.mdl-textfield__error Please Enter Valid Email!
              .col-md-6
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
                  i.fa.fa-phone
                  input#appointment-mobile.mdl-textfield__input(type="text" pattern="[0-9]*")
                  label.mdl-textfield__label(for="appointment-mobile") Mobile Number
                  span.mdl-textfield__error Please Enter Valid Mobile Number!
              .col-md-6
                .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label.form-input-icon
                  i.fa.fa-hospital-o
                  select#appointment-department.mdl-selectfield__select
                    option(value="")  
                    option(value="1") Gynaecology
                    option(value="2") Orthology
                    option(value="3") Dermatologist
                    option(value="4") Anaesthesia
                    option(value="5") Ayurvedic
                  label.mdl-selectfield__label(for="appointment-department") Choose Department
              .col-md-6
                .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label.form-input-icon
                  i.fa.fa-user-md
                  select#appointment-doctor.mdl-selectfield__select
                    option(value="")  
                    option(value="1") Dr. Daniel Barnes
                    option(value="2") Dr. Steve Soeren
                    option(value="3") Dr. Barbara Baker
                    option(value="4") Dr. Melissa Bates
                    option(value="5") Dr. Linda Adams
                  label.mdl-selectfield__label(for="appointment-doctor") Choose Doctor
              .col-md-6
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
                  i.fa.fa-calendar-o
                  input#appointment-date.mdl-textfield__input(type="text" onfocus="(this.type='date')" onblur="(this.type='text')")
                  label.mdl-textfield__label(for="appointment-date") Date
                  span.mdl-textfield__error Please Enter Valid Date Number!
            .text-center.pt-4
              button.mdl-button.mdl-js-button.mdl-button--colored.mdl-js-ripple-effect.mdl-button--raised.button.button-primary.button-lg.make-appointment Submit
    // End Make an Appointment Modal
    // Start Login Modal
    #loginpopup.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header.text-center
            h5.modal-title Login Now
            button.close(type="button" data-dismiss="modal") ×
          .modal-body.text-center
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
              i.fa.fa-envelope-o
              input#loginpopup-email.mdl-textfield__input(type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
              label.mdl-textfield__label(for="loginpopup-email")
                | Email 
                em  *
              span.mdl-textfield__error Please Enter Valid Email!
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
              i.fa.fa-key
              input#loginpopup-password.mdl-textfield__input(type="password")
              label.mdl-textfield__label(for="loginpopup-password")
                | Password 
                em  *
              span.mdl-textfield__error Please Enter Valid Password!
              .forgot-pass Forgot Password?
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon.form-bot-check
              i.fa.fa-question
              input#loginpopup-bot.mdl-textfield__input(type="number")
              label.mdl-textfield__label(for="loginpopup-bot")
                | What is 7 plus 1 = 
                em * 
              span.mdl-textfield__error Please Enter Correct Value!
            .form-submit
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect.button.button-primary Login Now
            .or-using Or Using
            .social-login
              a.social-facebook(href="#")
                i.fa.fa-facebook
                | Facebook
              a.social-google(href="#")
                i.fa.fa-google
                | Google
            .login-link
              span.paragraph-small Don't have an account?
              a(href="#") Register as New User
    // End Login Modal
    // Start Register Modal
    #registerpopup.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header.text-center
            h5.modal-title Register as New User
            button.close(type="button" data-dismiss="modal") ×
          .modal-body.text-center
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
              i.fa.fa-user-o
              input#registerpopup-name.mdl-textfield__input(type="text" pattern="[A-Z,a-z, ]*")
              label.mdl-textfield__label(for="registerpopup-name")
                | Name 
                em  *
              span.mdl-textfield__error Please Enter Valid Name!
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
              i.fa.fa-envelope-o
              input#registerpopup-email.mdl-textfield__input(type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
              label.mdl-textfield__label(for="registerpopup-email")
                | Email 
                em  *
              span.mdl-textfield__error Please Enter Valid Email!
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input-icon
              i.fa.fa-key
              input#registerpopup-password.mdl-textfield__input(type="password")
              label.mdl-textfield__label(for="registerpopup-password")
                | Password 
                em  *
              span.mdl-textfield__error Please Enter Valid Password(Min 6 Character)!
            .login-condition
              | By clicking Creat Account you agree to our 
              a(href="#") terms & condition
            .form-submit
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect.button.button-primary Create Account
            .or-using Or Using
            .social-login
              a.social-facebook(href="#")
                i.fa.fa-facebook
                | Facebook
              a.social-google(href="#")
                i.fa.fa-google
                | Google
            .login-link
              span.paragraph-small Already have an account?
              a(href="#") Login Now
    // End Register Modal
    // Fixed Appointment Button at Bottom
    #appointment-button.animated.fadeInUp
      button#appointment-now.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised
        i.fa.fa-plus
      .mdl-tooltip.mdl-tooltip--top(data-mdl-for="appointment-now") Make An Appointment
    // End Fixed Appointment Button at Bottom
    // Start Footer Section
    footer#footer
      .layer-stretch
        // Start main Footer Section
        .row.layer-wrapper
          .col-md-4.footer-block
            .footer-ttl
              p Contact
            .footer-container.footer-a
              .tbl
                .tbl-row
                  .tbl-cell
                    i.fa.fa-map-marker
                  .tbl-cell
                    p.paragraph-medium.paragraph-white
                      | KinMar ICT, Total Corner Shop 
                      br
                      |                                         Lugbe,
                      br
                      |                                         Abuja.
                .tbl-row
                  .tbl-cell
                    i.fa.fa-phone
                  .tbl-cell
                    p.paragraph-medium.paragraph-white (+234)8130299583
                .tbl-row
                  .tbl-cell
                    i.fa.fa-envelope
                  .tbl-cell
                    p.paragraph-medium.paragraph-white gospelhospitalsandclinics@gmail.com
          .col-md-4.footer-block
            .footer-ttl
              p Quick Links
            .footer-container.footer-b
              .tbl
                .tbl-row
                  //
                    <ul class="tbl-cell">
                    <li><a href="event-1.html">Event Style 1</a></li>
                    <li><a href="event-2.html">Event Style 2</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                    <li><a href="terms-conditions.html">Terms condition</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    </ul>
                  ul.tbl-cell
                    li
                      a(href="login.html") Login
                    li
                      a(href="register.html") Register
                    li
                      a(href="forgot.html") Forgot Password
                    li
                      a(href="myappointment.html") My Appointment
                    li
                      a(href="myrequest.html") My Request
                    li
                      a(href="myprofile.html") My Profile
          .col-md-4.footer-block
            .footer-ttl
              p Newsletter
            .footer-container.footer-c
              .footer-subscribe
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.form-input
                  input#subscribe-email.mdl-textfield__input(type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
                  label.mdl-textfield__label(for="subscribe-email") Your Email
                  span.mdl-textfield__error Please Enter Valid Email!
                .footer-subscribe-button
                  button.mdl-button.mdl-js-button.mdl-js-ripple-effect.button.button-primary Submit
              ul.social-list.social-list-colored.footer-social
                li
                  a#footer-facebook.fa.fa-facebook(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-facebook") Facebook
                li
                  a#footer-twitter.fa.fa-twitter(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-twitter") Twitter
                li
                  a#footer-google.fa.fa-google(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-google") Google
                li
                  a#footer-instagram.fa.fa-instagram(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-instagram") Instagram
                li
                  a#footer-youtube.fa.fa-youtube(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-youtube") Youtube
                li
                  a#footer-linkedin.fa.fa-linkedin(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-linkedin") Linkedin
                li
                  a#footer-flickr.fa.fa-flickr(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-flickr") Flickr
                li
                  a#footer-rss.fa.fa-rss(href="#" target="_blank")
                  span.mdl-tooltip.mdl-tooltip--top(data-mdl-for="footer-rss") Rss
      // End main Footer Section
      // Start Copyright Section
      #copyright
        .layer-stretch
          .paragraph-medium.paragraph-white 2018 © onyebuchi kingsley ALL RIGHTS RESERVED.
      // End of Copyright Section
    // End of Footer Section
    // **********Included Scripts***********
    // Jquery Library 2.1 JavaScript
    script(src="js/jquery-2.1.4.min.js")
    // Popper JavaScript
    script(src="js/popper.min.js")
    // Bootstrap Core JavaScript
    script(src="js/bootstrap.min.js")
    // Material Design Lite JavaScript
    script(src="js/material.min.js")
    // Material Select Field Script
    script(src="js/mdl-selectfield.min.js")
    // Flexslider Plugin JavaScript
    script(src="js/jquery.flexslider.min.js")
    // Owl Carousel Plugin JavaScript
    script(src="js/owl.carousel.min.js")
    // Scrolltofixed Plugin JavaScript
    script(src="js/jquery-scrolltofixed.min.js")
    // Magnific Popup Plugin JavaScript
    script(src="js/jquery.magnific-popup.min.js")
    // WayPoint Plugin JavaScript
    script(src="js/jquery.waypoints.min.js")
    // CounterUp Plugin JavaScript
    script(src="js/jquery.counterup.js")
    // SmoothScroll Plugin JavaScript
    script(src="js/smoothscroll.min.js")
    // Custom JavaScript for Klinik Template
    script(src="js/custom.js")
